/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
@import "./chats_page.css";

:root {
  --primary-green: #1ebea5;
  --background-green: #dcf8c6;
  --primary-gray: #EBEBEB;
  --secondary-gray: #F5F5F5;
  --icon-gray: #919191;
  --primary-font: #303030;
  --secondary-font: #7C7C7C;
  --heading-size: 16px;
  --font-size: 14px;
  --light-font: 300;
  --medium-font: 400;
  --semi-bold-font: 600;
  --bold-font: 700;
  --border: solid 1px rgba(0, 0, 0, .08);
  --background: #f8f9fa;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.live_chat-input {
  border: none;
  border-radius: 20px;
  height: 80%;
  outline: none;
  padding-left: 15px;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.main-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}